<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../app.css" type="text/css" />
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/8C6FF337-82EB-E942-ADAC-1AC200EDA5F0/main.js" charset="UTF-8"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One" rel="stylesheet">
    <title>Nodejs Project App</title>
    </head>
    
    <body>
         <div class="header">
            <div class="imhold"><img alt="lo" id="poster" class="logiIm" src='/logo.png'></div>
         <div class="navhold">
              <div class="topnav">
                  
                  <a href="/">Home</a>
                  <a href="/contacts">About Us</a>
                  <a href="/add">Contact Us</a>
                      <a href="/servicessql" >ProductsGallery</a>
                          <a href="/createsql" >CreateServices</a>
                          <a href="/testimo">Testimonials</a>
                         
                                </div>
            </div>
        </div>
        
        
<script>

// Function to hide paragraph
$(document).ready(function() {
$("#Btn").click(function() {
$("#par").hide(2000);
})
});
// Function to bring back paragraph
$(document).ready(function() {
$("#myBtn").click(function() {
$("#par").show(2000);
})
});
$(document).ready(function() {
$("#Btn1").click(function() {
$("#par1").hide(2000);
})
});
$(document).ready(function() {
$("#myBtn1").click(function() {
$("#par1").show(2000);
})
});
$(document).ready(function() {
$("#Btn2").click(function() {
$("#par2").hide(2000);
})
});
$(document).ready(function() {
$("#myBtn2").click(function() {
$("#par2").show(2000);
})
});


</script>	   
        
</body>
</html>
