<% include ../partials/header%>

<div class="row">
    <h1>Please Contact Us</h1>

    <div class="grid-container">
        <form accept-charset="UTF-8" action="/add" method="post">

            <div class="item">
                <label for="name">Name:</label>
                <input name="name" type="text" placeholder="Please enter your name" />
                
                <label for="email">Email:</label>
                <input name="email" type="text" placeholder="Please enter your email address" />     

                <label for="comment">Comment:</label>
                <input name="comment" type="text" placeholder="Please enter your comment" /> 

                <button class="button">Leave Comment</button>
            </div>


<% include ../partials/footer%>