<% include ../partials/header%>
        
            <div class="row">
                <h1> Welcome to Antiques boutique</h1> <br> <br> 
                
                
            <div class="holder">
                  <div class="large">
                  <h1>Antique</h1>
                  <h2>Collectables</h2>
            </div>
        
    <div class="normal">
        <h1>Jelwllery And</h1>
        <h2>Accessories</h2>
        
    </div>
              
    <div class="normal2">
        <h1>Furnithure</h1>
        <h2>Restorations</h2>
        
    </div>
    
</div>
 </div>

   
<% include ../partials/footer%>


        
   
        
   
