<% include ../partials/header%>
        
<div class="row">
    <h1> Welcome to Antiques boutique</h1> <br> <br> 
                
        <div class="holder">
                <div class="large">
                 <h1>Collectables</h1>
                </div>
        
                <div class="normal">
                    <h2>Jewellery</h2>	
                </div>
              
                <div class="normal2">
                    <h1>Furniture</h1>
                </div>
                
                <div class="larget">
        <button  id="Btn">Hide Description</button>
		<button  id="myBtn">Show Description</button>
<p id="par">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, 
nulla et dictum interdum, nisi lorem egestas vitae scelerisque enim ligula venenatis 
dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. 
Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper 
ipsum dignissim ac.</p>
    </div>
	
	<div class="larget">
        <button  id="Btn1">Hide Description</button>
		<button  id="myBtn1">Show Description</button>
<p id="par1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, 
nulla et dictum interdum, nisi lorem egestas vitae scelerisque enim ligula venenatis 
dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. 
Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper 
ipsum dignissim ac.</p>
    </div>
	
	<div class="larget">
        <button  id="Btn2">Hide Description</button>
		<button  id="myBtn2">Show Description</button>
<p id="par2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, 
nulla et dictum interdum, nisi lorem egestas vitae scelerisque enim ligula venenatis 
dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. 
Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper 
ipsum dignissim ac.</p>
    </div>
    
        </div>
 </div>

   
<% include ../partials/footer%>


        
   
        
   
